/*===============================================================================
 * 命名：c_pick-up.css
 * 既存ファイル：新しくカスタムセクションとして作成
 * 用途：Pick-upセクション作成のため
 * メモ：
 ================================================================================*/

/* -------------------------------
   ピックアップセクション
--------------------------------- */
/* レイアウト */

.c-pick-up__content {
   position: relative;
   width: calc(100% + (50vw - 50%));
   margin-right: calc(50% - 50vw);
   padding-right: 0;
}

.c-pick-up__textarea--wrapper {
   max-width: 389px;
   width: 389px;
   height: 499px;
   padding-right: 32px;
   position: absolute;
   top: 0;
   left: 0;
   transform: none;
   z-index: 20;
   background: #FFFFFF;
}

.c_splide {
   position: relative;
}

.c-pick-up .splide__track {
   /* margin-right: 500px; */
   position: relative;
   z-index: 1;
}


.c-pick-up__richtext {
   font-size: 2rem;
   font-weight: bold;
}

.c-pick-up__text {
   margin-top: 30px;
   font-size: 1.25rem;
}

.c-pick-up__image {
   width: 389px;
   height: 499px;
   border-radius: 6px;
}

/* 矢印 */

/* 矢印のボタン本体を「浮かせない」設定にする */
.c-pick-up__textarea--wrapper .splide__arrow {
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   transform: none !important;
   margin: 0;
}

/* 矢印の入れ物を横並びにする */
.c-pick-up__textarea--wrapper .splide__arrows {
   display: flex !important;
   justify-content: center;
   gap: 80px;
   margin-top: 100px;
   position: relative;
   z-index: 30;
}

.splide__arrows .splide__arrow .c_splide__button-bg {
   position: relative;
}

.splide__arrows .splide__arrow .c_splide__button-arrow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
}

.splide__arrows .splide__arrow--prev .c_splide__button-arrow {
   transform: translate(-50%, -50%) rotate(180deg);
}

/* ページネーション */

.c-pick-up .splide__pagination {
   position: static;
   margin-top: 24px;
}


.c-pick-up .splide__pagination__page {
   width: 10px;
   height: 10px;
   opacity: 1;
   background: #F5EDE7;
   margin: 8px;
}

@media screen and (max-width: 750px) {
   .c-pick-up .splide__pagination__page {
      width: 8px;
      height: 8px;
      margin: 6px;
   }
}

.c-pick-up .splide__pagination__page.is-active {
   background: #434343;
   transform: scale(1);
   z-index: 1;
}