/* =============================
   ランキング コレクション セクション
================================ */

/*===============================================================================
 * 命名：c_ranking-collection.css
 * 既存ファイル：新しくカスタムセクションとして作成
 * 用途：ランキングセクション作成のため
 * メモ：
 ================================================================================*/
/* 商品カードのレイアウト */

.c-featured-collection__list {
    display: none;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    place-content: center;
    /* row-gap: 64px; */
    column-gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.c-featured-collection__list.is-active {
    display: grid;
}

@media screen and (max-width: 750px) {
    .c-featured-collection__list {
        grid-template-columns: repeat(2, 1fr);
        /* row-gap: 64px; */
        column-gap: 28px;
    }
}



/* ==================================================
  タブメニュー
===================================================*/
.c-featured-collection__nav {
    margin-top: 64px;
    margin-bottom: 64px;
}

@media screen and (max-width: 750px) {
    .c_featured-collection__nav {
        margin-top: 40px;
    }
}

.c-tabs-nav {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.c-tabs-list::-webkit-scrollbar {
    display: none;
}

.c-tabs-list {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none;
}

.c-tab-button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.c-featured-collection__nav .c-tab-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #9C9792;
    transition: border-color 0.3s ease;
}

@media screen and (max-width: 750px) {
    .c-featured-collection__nav .c-tab-button {
        padding-left: 11px;
        padding-right: 11px;
        padding-bottom: 19px;
    }
}

.c-featured-collection__nav .c-tab-title {
    display: block;
    color: #9C9792;
    font-family: var(--font-bodoniModa-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.8px;
    transition: color 0.3s ease;
}

@media screen and (max-width: 750px) {
    .c-featured-collection__nav .c-tab-title {
        font-size: 18px;
        letter-spacing: 0.72px;
    }
}

.c-featured-collection__nav .c-tab-subtitle {
    display: block;
    color: #9C9792;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 4px;
    transition: color 0.3s ease;
}

@media screen and (max-width: 750px) {
    .c-featured-collection__nav .c-tab-subtitle {
        font-size: 12px;
    }
}

.c-featured-collection__nav .c-tab-button.is-active {
    border-color: #4882ff;
}

.c-featured-collection__nav .c-tab-button.is-active .c-tab-title {
    color: #282315;
}

.c-featured-collection__nav .c-tab-button.is-active .c-tab-subtitle {
    color: #4C4227;
}

@media (hover: hover) {
    .c-featured-collection__nav .c-tab-button:hover {
        border-color: #001b56;
    }

    .c-featured-collection__nav .c-tab-button:hover .c-tab-title {
        color: #282315;
    }

    .c-featured-collection__nav .c-tab-button:hover .c-tab-subtitle {
        color: #4C4227;
    }
}


/* ランキングのナンバー */

.c-card__content {
    position: relative;
}

.c-card__badge {
    position: absolute;
    top: -100px;
    left: 5px;

}

.c-card__ranking {
    position: relative;
}

.c-card__ranking svg {
    position: relative;
}

.c-card__ranking-number--1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff9696;
    z-index: 1;
}

.c-card__ranking-number--2,
.c-card__ranking-number--3 {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    z-index: 1;
}

.c-card__ranking-number--4 {
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    z-index: 1;
}