/*===============================================================================
 * 命名：c-section-image-banner.css
 * 既存ファイル：section-image-banner.css
 * 用途：画像バナーセクションのカスタム用として作成しました。
 * メモ：コードが煩雑にならないよう、section-image-banner.cssを直接編集せず本ファイルで管理。
 ================================================================================*/

/* =============================
   1. フォント・カラー・背景など
================================ */





/* =============================
   2. セクション間の余白
================================ */




/* =============================
   3. レイアウトなど
================================ */


@media screen and (min-width: 750px) {
    .banner--large.c_banner {
        /* ヘッダー(変数or102px) と 告知バーの高さ(39px) を引いて画面一杯の高さにした。 */
        min-height: calc(100vh - var(--header-height, 102px) - 39px);
    }
}

@media screen and (min-width: 750px) {
    .c-banner__content.banner__content--bottom-center {
        align-items: center;
    }
}

.c_banner .banner__box .banner__buttons {
    margin-top: 20rem;
}