/*=============================================================================================
 * 命名：custom.css
 * 既存ファイル：base.css
 * 用途：サイト全体の共通スタイル、およびテーマ標準CSSの上書き用。(base.cssの複製の意図で作りました。)
 * メモ：テーマのアップデートに備え、base.cssを直接編集せず本ファイルで管理。
 =============================================================================================*/

/* 基本の画像比 */

.c-image {
   width: 100%;
   height: auto;
   vertical-align: bottom;
}

/* セクションタイトル */
.c-section-title {
   display: flex;
   align-items: center;
   gap: 10px;
   color: #4c4227;
}

.c-section-title img {
   /* svg */
   vertical-align: bottom;

}